@tailwind base;
@tailwind components;
@tailwind utilities;


.notActiveCreateForm{
  visibility: hidden;
}

.activeCreateForm{
  visibility:visible;
}

.note_icons{
  position: relative;
  bottom: -6.5rem;
}