@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: rgb(255, 255, 255);
}

.notActiveCreateForm{
  visibility: hidden;
}

.activeCreateForm{
  visibility:visible;
}

.note_icons{
  width: 50px;
  position: relative;
  top: -.5rem;
}